USE [master]
GO
/****** Object:  Database [MegadeCinema]    Script Date: 05/05/2026 11:17:46 ******/
CREATE DATABASE [MegadeCinema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MegadeCinema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MegadeCinema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MegadeCinema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MegadeCinema_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MegadeCinema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MegadeCinema]
GO
/****** Object:  Table [dbo].[DoAn]    Script Date: 05/05/2026 11:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoAn](
	[maDoAn] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](255) NULL,
	[gia] [int] NOT NULL,
	[loai] [nvarchar](20) NULL,
	[imagePath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDoAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 05/05/2026 11:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[maGhe] [int] IDENTITY(1,1) NOT NULL,
	[maPhong] [int] NOT NULL,
	[hangGhe] [char](1) NOT NULL,
	[soGhe] [int] NOT NULL,
	[loaiGhe] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonSnack]    Script Date: 05/05/2026 11:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonSnack](
	[maHD] [int] IDENTITY(1,1) NOT NULL,
	[maVe] [int] NOT NULL,
	[maSnack] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
	[thanhTien] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 05/05/2026 11:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [int] IDENTITY(1,1) NOT NULL,
	[maTK] [int] NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[soDT] [nvarchar](15) NULL,
	[chucVu] [nvarchar](50) NOT NULL,
	[trangThai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 05/05/2026 11:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[maPhim] [int] IDENTITY(1,1) NOT NULL,
	[tenPhim] [nvarchar](200) NOT NULL,
	[theLoai] [nvarchar](100) NULL,
	[thoiLuong] [int] NULL,
	[ngayKhoiChieu] [date] NULL,
	[moTa] [nvarchar](max) NULL,
	[trangThai] [nvarchar](20) NOT NULL,
	[poster_path] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongChieu]    Script Date: 05/05/2026 11:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongChieu](
	[maPhong] [int] IDENTITY(1,1) NOT NULL,
	[tenPhong] [nvarchar](100) NOT NULL,
	[loaiPhong] [nvarchar](20) NOT NULL,
	[soGhe] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Snack]    Script Date: 05/05/2026 11:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Snack](
	[maSnack] [int] IDENTITY(1,1) NOT NULL,
	[tenSnack] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](200) NULL,
	[gia] [int] NOT NULL,
	[loai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maSnack] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuatChieu]    Script Date: 05/05/2026 11:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuatChieu](
	[maSuat] [int] IDENTITY(1,1) NOT NULL,
	[maPhim] [int] NOT NULL,
	[maPhong] [int] NOT NULL,
	[ngayChieu] [date] NOT NULL,
	[gioChieu] [time](7) NOT NULL,
	[giaVe] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maSuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 05/05/2026 11:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maTK] [int] IDENTITY(1,1) NOT NULL,
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](256) NOT NULL,
	[vaiTro] [nvarchar](20) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[soDT] [nvarchar](15) NULL,
	[trangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 05/05/2026 11:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[maVe] [int] IDENTITY(1,1) NOT NULL,
	[maSuat] [int] NOT NULL,
	[maGhe] [int] NOT NULL,
	[maNV] [int] NOT NULL,
	[ngayBan] [datetime] NOT NULL,
	[giaVe] [int] NOT NULL,
	[trangThai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DoAn] ON 

INSERT [dbo].[DoAn] ([maDoAn], [ten], [moTa], [gia], [loai], [imagePath]) VALUES (1, N'Bắp Ngô', N'50g | Bơ / Caramel', 30000, N'BAP', N'/resources/foods/bong_ngo.jpg')
INSERT [dbo].[DoAn] ([maDoAn], [ten], [moTa], [gia], [loai], [imagePath]) VALUES (2, N'Hotdog', N'Xúc xích nướng giòn tan', 35000, N'KHAI_VI', N'/resources/foods/hot_dog.jpg')
INSERT [dbo].[DoAn] ([maDoAn], [ten], [moTa], [gia], [loai], [imagePath]) VALUES (3, N'Khoai Tây', N'Giòn thơm | Sốt Mayo / BBQ', 40000, N'KHAI_VI', N'/resources/foods/khoai_tay_chien.png')
SET IDENTITY_INSERT [dbo].[DoAn] OFF
GO
SET IDENTITY_INSERT [dbo].[Ghe] ON 

INSERT [dbo].[Ghe] ([maGhe], [maPhong], [hangGhe], [soGhe], [loaiGhe]) VALUES (1, 3, N'A', 1, N'Thường')
INSERT [dbo].[Ghe] ([maGhe], [maPhong], [hangGhe], [soGhe], [loaiGhe]) VALUES (2, 3, N'A', 2, N'Thường')
INSERT [dbo].[Ghe] ([maGhe], [maPhong], [hangGhe], [soGhe], [loaiGhe]) VALUES (3, 3, N'A', 3, N'Thường')
GO
SET IDENTITY_INSERT [dbo].[Ghe] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDonSnack] ON 

INSERT [dbo].[HoaDonSnack] ([maHD], [maVe], [maSnack], [soLuong], [thanhTien]) VALUES (1, 17, 18, 4, 150000)
INSERT [dbo].[HoaDonSnack] ([maHD], [maVe], [maSnack], [soLuong], [thanhTien]) VALUES (2, 1, 18, 1, 30000)
INSERT [dbo].[HoaDonSnack] ([maHD], [maVe], [maSnack], [soLuong], [thanhTien]) VALUES (3, 11, 18, 4, 30000)
SET IDENTITY_INSERT [dbo].[HoaDonSnack] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([maNV], [maTK], [hoTen], [soDT], [chucVu], [trangThai]) VALUES (1, 1, N'Nguyễn Quản Trị', N'0901000001', N'Quản lý', N'Đang làm')
INSERT [dbo].[NhanVien] ([maNV], [maTK], [hoTen], [soDT], [chucVu], [trangThai]) VALUES (2, 2, N'Trần Thị Lan', N'0901000002', N'Thu ngân', N'Đang làm')
INSERT [dbo].[NhanVien] ([maNV], [maTK], [hoTen], [soDT], [chucVu], [trangThai]) VALUES (3, 3, N'Lê Văn Hùng', N'0901000003', N'Nhân viên kỹ thuật', N'Đang làm')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[Phim] ON 

INSERT [dbo].[Phim] ([maPhim], [tenPhim], [theLoai], [thoiLuong], [ngayKhoiChieu], [moTa], [trangThai], [poster_path]) VALUES (1, N'Avatar 2', N'Hành động, Phiêu lưu', 192, CAST(N'2024-01-15' AS Date), N'Phần tiếp theo của Avatar', N'Đang chiếu', N'avatar2.jpg')
INSERT [dbo].[Phim] ([maPhim], [tenPhim], [theLoai], [thoiLuong], [ngayKhoiChieu], [moTa], [trangThai], [poster_path]) VALUES (2, N'Kẻ Cắp Giấc Mơ', N'Tâm lý, Hồi hộp', 148, CAST(N'2024-03-20' AS Date), N'Bộ phim về thế giới giấc mơ', N'Đang chiếu', N'ke_cap_giac_mo.jpg')
INSERT [dbo].[Phim] ([maPhim], [tenPhim], [theLoai], [thoiLuong], [ngayKhoiChieu], [moTa], [trangThai], [poster_path]) VALUES (3, N'Spider-Man', N'Siêu anh hùng', 130, CAST(N'2024-04-05' AS Date), N'Người Nhện phiêu lưu đa vũ trụ', N'Đang chiếu', N'spiderman.jpg')
SET IDENTITY_INSERT [dbo].[Phim] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongChieu] ON 

INSERT [dbo].[PhongChieu] ([maPhong], [tenPhong], [loaiPhong], [soGhe]) VALUES (1, N'Phòng chiếu 1', N'2D', 80)
INSERT [dbo].[PhongChieu] ([maPhong], [tenPhong], [loaiPhong], [soGhe]) VALUES (2, N'Phòng chiếu 2', N'3D', 60)
INSERT [dbo].[PhongChieu] ([maPhong], [tenPhong], [loaiPhong], [soGhe]) VALUES (3, N'Phòng chiếu 3', N'2D', 80)
SET IDENTITY_INSERT [dbo].[PhongChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[Snack] ON 

INSERT [dbo].[Snack] ([maSnack], [tenSnack], [moTa], [gia], [loai]) VALUES (1, N'Bắp Nhỏ', N'50g | Bơ / Caramel', 30000, N'Bắp')
INSERT [dbo].[Snack] ([maSnack], [tenSnack], [moTa], [gia], [loai]) VALUES (2, N'Bắp Vừa', N'80g | Bơ / Caramel', 45000, N'Bắp')
INSERT [dbo].[Snack] ([maSnack], [tenSnack], [moTa], [gia], [loai]) VALUES (3, N'Bắp Lớn', N'120g | Bơ / Caramel', 60000, N'Bắp')
SET IDENTITY_INSERT [dbo].[Snack] OFF
GO
SET IDENTITY_INSERT [dbo].[SuatChieu] ON 

INSERT [dbo].[SuatChieu] ([maSuat], [maPhim], [maPhong], [ngayChieu], [gioChieu], [giaVe]) VALUES (1, 1, 3, CAST(N'2024-06-21' AS Date), CAST(N'19:00:00' AS Time), 90000)
INSERT [dbo].[SuatChieu] ([maSuat], [maPhim], [maPhong], [ngayChieu], [gioChieu], [giaVe]) VALUES (2, 1, 5, CAST(N'2024-06-22' AS Date), CAST(N'14:00:00' AS Time), 130000)
INSERT [dbo].[SuatChieu] ([maSuat], [maPhim], [maPhong], [ngayChieu], [gioChieu], [giaVe]) VALUES (3, 1, 5, CAST(N'2024-06-22' AS Date), CAST(N'21:30:00' AS Time), 130000)
SET IDENTITY_INSERT [dbo].[SuatChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([maTK], [tenDangNhap], [matKhau], [vaiTro], [hoTen], [email], [soDT], [trangThai]) VALUES (1, N'admin', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'ADMIN', N'Admin', N'admin@megade.vn', N'0901000001', 1)
INSERT [dbo].[TaiKhoan] ([maTK], [tenDangNhap], [matKhau], [vaiTro], [hoTen], [email], [soDT], [trangThai]) VALUES (2, N'nv01', N'70ae1c421727d20eb63385ae5763f2d798dc4c0bd66663bdf0f13e7512f5767f', N'NHANVIEN', N'Trần Thị Lan', N'lan@megade.vn', N'0901000002', 1)
INSERT [dbo].[TaiKhoan] ([maTK], [tenDangNhap], [matKhau], [vaiTro], [hoTen], [email], [soDT], [trangThai]) VALUES (3, N'nv02', N'70ae1c421727d20eb63385ae5763f2d798dc4c0bd66663bdf0f13e7512f5767f', N'NHANVIEN', N'Lê Văn Hùng', N'hung@megade.vn', N'0901000003', 1)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[Ve] ON 

INSERT [dbo].[Ve] ([maVe], [maSuat], [maGhe], [maNV], [ngayBan], [giaVe], [trangThai]) VALUES (1, 1, 36, 2, CAST(N'2026-05-01T13:14:15.847' AS DateTime), 90000, N'Đã bán')
INSERT [dbo].[Ve] ([maVe], [maSuat], [maGhe], [maNV], [ngayBan], [giaVe], [trangThai]) VALUES (2, 1, 37, 2, CAST(N'2026-05-01T13:14:15.867' AS DateTime), 90000, N'Đã bán')
INSERT [dbo].[Ve] ([maVe], [maSuat], [maGhe], [maNV], [ngayBan], [giaVe], [trangThai]) VALUES (3, 1, 62, 19, CAST(N'2026-04-18T18:00:44.797' AS DateTime), 90000, N'Đã bán')
SET IDENTITY_INSERT [dbo].[Ve] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__59267D4A4EA34D8F]    Script Date: 05/05/2026 11:17:46 ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DoAn] ADD  DEFAULT ('KHAC') FOR [loai]
GO
ALTER TABLE [dbo].[Ghe] ADD  DEFAULT (N'Thường') FOR [loaiGhe]
GO
ALTER TABLE [dbo].[HoaDonSnack] ADD  DEFAULT ((1)) FOR [soLuong]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Đang làm') FOR [trangThai]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT (N'Đang chiếu') FOR [trangThai]
GO
ALTER TABLE [dbo].[SuatChieu] ADD  DEFAULT ((90000)) FOR [giaVe]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT (getdate()) FOR [ngayBan]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT (N'Đã bán') FOR [trangThai]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD FOREIGN KEY([maPhong])
REFERENCES [dbo].[PhongChieu] ([maPhong])
GO
ALTER TABLE [dbo].[HoaDonSnack]  WITH CHECK ADD FOREIGN KEY([maSnack])
REFERENCES [dbo].[Snack] ([maSnack])
GO
ALTER TABLE [dbo].[HoaDonSnack]  WITH CHECK ADD FOREIGN KEY([maVe])
REFERENCES [dbo].[Ve] ([maVe])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([maTK])
REFERENCES [dbo].[TaiKhoan] ([maTK])
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD FOREIGN KEY([maPhim])
REFERENCES [dbo].[Phim] ([maPhim])
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD FOREIGN KEY([maPhong])
REFERENCES [dbo].[PhongChieu] ([maPhong])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([maGhe])
REFERENCES [dbo].[Ghe] ([maGhe])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([maSuat])
REFERENCES [dbo].[SuatChieu] ([maSuat])
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD CHECK  (([loaiGhe]=N'VIP' OR [loaiGhe]=N'Thường'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([chucVu]=N'Nhân viên kỹ thuật' OR [chucVu]=N'Thu ngân' OR [chucVu]=N'Quản lý'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([trangThai]=N'Nghỉ' OR [trangThai]=N'Đang làm'))
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD CHECK  (([trangThai]=N'Ngừng chiếu' OR [trangThai]=N'Sắp chiếu' OR [trangThai]=N'Đang chiếu'))
GO
ALTER TABLE [dbo].[PhongChieu]  WITH CHECK ADD CHECK  (([loaiPhong]='IMAX' OR [loaiPhong]='3D' OR [loaiPhong]='2D'))
GO
ALTER TABLE [dbo].[Snack]  WITH CHECK ADD CHECK  (([loai]=N'Combo' OR [loai]=N'Nước' OR [loai]=N'Bắp'))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([vaiTro]='NHANVIEN' OR [vaiTro]='ADMIN'))
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD CHECK  (([trangThai]=N'Đã huỷ' OR [trangThai]=N'Đã bán'))
GO
USE [master]
GO
